language: go
go:
- "1.10"
sudo: false
addons:
  postgresql: '9.5'
services:
- postgres
- docker
env:
  matrix:
  - LIBRDKAFKA_VERSION=v0.11.6
  - LIBRDKAFKA_VERSION=master
  global:
    secure: SxicnctS2kQ/XjMRvBHUHSn9PEyKr07/1E1+dnqyN2FY22e4LWxELqdHMYQuATxlb62pcbw+OMs6szQCRKcHmilbJm098hxWusSn8PBsevinJJgfXLrdFl8pqiorPiTBNs5I0ImgHlZslRlvCsU3Gv8XFH0uzMUckbCXeK04p4rY7yS5iExE8hP8v2DLrFMIk5zxy6vP2cMHP3GLIvc30HkVR2Lcs2sJMyflw533knyw5WiU1sQ77mzDb9mFCT2kDdud72df6wF7yQGi/wtc/F+SmD1Veq1Mj8yDiMAKazJG820Wzg/PAoolvSpdM3qW8wSjXxoxakMFF1ja8A5EIQdQDZQcThbrY17SvnIzdPrXL4eaj2DYdTekakFblntBaQ5UtN4rHlPjexoiVPyfk0iBeJO5YK9PediodVYV6F09ls6/iiOuGvfeP+rti55G5tC7nfO9b4I5TEdYWXFyju/y6aqol4mHJMdTK/Tw4eao4MjystSBegY4F5jZfndl6F7nOtOJp188SePpVFfN+pw3t6UV93+x2p3JhrJ3Aqt8QYYNH9DChhDC94e7ETYSPjtDHpRwbiWMwsYMwb6TbAmtHpM3MVY5SEMml6Rb6dov2yZZ4p0RnNyAP6rmC3qfcdkhWKgQ6GuHbn3mjMAhRz6Tnk9zvbRun2vvXMJ6M9E=
cache:
  directories:
  - "$HOME/.cache/librdkafka"
before_install:
- sudo /bin/bash ./travis.sh
before_script: make setup-ci
script: make test
after_success:
- "./push_to_docker.sh && ./success_webhook.sh"
